* {
    margin: 0;
    padding: 0;
    }
header {
    background-color: #59323c;
    height: 100px;
    max-width: 100%;
    min-width: 40%;
}
main {
    height: 400px;
}
nav {
    width: 25%;
    height: 400px;
    float: left;
    background-color: #bfaf80;
    overflow: hidden;
}
article {
    height: 400px;
    width: 50%;
    float: left;
    background-color: #f2eeb3;
    text-align: center;
}
aside {
    height: 400px;
    width: 25%;
    float: right;
    background-color: #8c6954;
}
.logo {
    width: 55px;
    height: 55px;
    border: 5px;
    border-radius: 50%;
    border-color: #260126;
}
footer {
    height: 100px;
    background-color: #260126;
    max-width: 100%;
    min-width: 400px;
    color: #f2eeb3;
}