* {
    margin: 0;
    padding: 0;
    }

body {
    height: 100%;
}
header {
    font-family: segoe-script;
    color: #f2eeb3;
    height: 15%;
    max-width: 100%;
    min-width: 40%;
}
header img {
    border: 10px;
    border-radius: 50%;
    border-color: #bfaf80;
}
header h1 {
    text-align: center;
}
header h2 {
    text-align: right;
}
main {
    height: 75%;
}
nav {
    width: 25%;
    height: 75%;
    float: left;
    overflow: hidden;
}
article {
    width: 50%;
    height: 75%;
    text-align: center;
    overflow: hidden;
}
aside {
    width: 25%;
    height: 75%;
    float: right;
    overflow: hidden;
}
footer {
    height: 100px;
    max-width: 100%;
    min-width: 400px;
    color: #f2eeb3;
}